<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Details</title>
  <script src="https://www.youtube.com/iframe_api"></script>
  <link rel="stylesheet" href="../../client/CSS/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <script src="/client/JS/frontPage.js"></script>
</head>

<body>
  <header>
    <a href="/">
      <h1>KinoNu.dk</h1>
    </a>
    <nav>
      <% if (isLoggedIn) { %>
        <a href="/">Film i biograffen</a>
        <a href="/upcomingMovies">Kommende film</a>
        <a href="/findMovie">Find film</a>
        <a href="/myProfile">Min side</a>
        <a style="color: red;" href="/signout">Log ud</a>
        <% } else { %>
          <a href="/login">Login</a>
          <a href="/register">Opret bruger</a>
          <a href="/upcomingMovies">Kommende film</a>
          <a href="/findMovie">Find film</a>

          <% } %>
    </nav>
  </header>
  <div class="movie-container1">
    <div id="button-div">
      <button id="favorit" onclick="saveMovie('<%= movieDetails.id %>', '<%= movieDetails.title %>')">
        <i style="color: #007bff; "class="fas fa-bookmark"> Favorit</i>
            </button>
      <button onclick="seenMovie('<%= movieDetails.id %>', '<%= movieDetails.title %>')" >
        <i class="fas fa-eye"> Set</i>
      </button>

      
    </div>
    
    <h1 class="movie-title">
      <%= movieDetails.title %>
    </h1>

    <div class="movie-layout">
      <div class="movie-test">
        <img class="movie-poster" style="width: auto; height: 80%;"
          src="https://image.tmdb.org/t/p/w200<%= movieDetails.poster_path %>" alt="Movie Poster">
        <div style="padding: 15px; line-height: 1.5; color: #333; overflow: auto;" id="movie-overview">
          <%= movieDetails.overview%>
        </div>
      </div>

      <div id="youtube">
        <div id="youtube-player1" style="height: 80%;">
        </div>
      </div>
    </div>

    <div class="movie-section movie-details">
      <div style="height: 80%;" id="test">
        <p class="section-header">Produktionsselskaber:</p>
        <p class="production-companies">
          <%= JSON.stringify(movieDetails.production_companies) %>
        </p>
        <p class="section-header">Produktionslande:</p>
        <p class="production-countries">
          <%= movieDetails.production_countries %>
        </p>
        <p class="section-header">Bedømmelse:</p>
        <p class="vote-average">
          <%= movieDetails.vote_average %>
        </p>
        <p class="section-header">Voksenindhold:</p>
        <p class="adult-content">
          <%= movieDetails.adult %>
        </p>
      </div>
    </div>
  </div>
  <div>
    </ul>
    <p class="section-header">Produktionsselskaber:</p>
    <p class="production-companies">
      <%= JSON.stringify(movieDetails.production_companies) %>
    </p>
    <p class="section-header">Produktionslande:</p>
    <p class="production-countries">
      <%= movieDetails.production_countries %>
    </p>
    <p class="section-header">Bedømmelse:</p>
    <p class="vote-average">
      <%= movieDetails.vote_average %>
    </p>
    <p class="section-header">Voksenindhold:</p>
    <p class="adult-content">
      <%= movieDetails.adult %>
    </p>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
  toastr.options = {
    closeButton: true,
    progressBar: true,
    positionClass: "toast-top-right",
  };
</script>
<script>

  function getTrailer(movieId) {
    return fetch(`/trailer/${movieId}`)
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json();
      })
      .then((data) => {
        return data;
      })
      .catch((error) => {
        console.log("Error fetching trailers", error);
        throw error;
      });
  }

  function initYouTubePlayer(videoId) {
    const player = new YT.Player("youtube-player1", {
      height: "360",
      width: "640",
      videoId: videoId,
    });
  }

  getTrailer(movie)
    .then((data) => {
      const trailer = data.results.find(
        (item) =>
          item.type === "Trailer" &&
          item.name.toLowerCase().includes("trailer")
      );

      if (trailer) {
        const trailerVideoId = trailer.key;
        initYouTubePlayer(trailerVideoId);
      }
    });
</script>

</html>